{:paths ["src"]

 :jolt/min-version "0.8.0"

 :deps {io.github.casselc/jolt-http
        {:git/url "https://github.com/casselc/jolt-http.git"
         :git/sha "fb596ea1a7d1899fd437d21c9da4fbfab0e436a2"}
        io.github.casselc/otel
        {:git/url "https://github.com/casselc/otel.git"
         :git/sha "b18830ae1fc6eef6add5e059ae302e94a1f0ed70"}}

 :jolt/build
 {:aspects [{:resource "META-INF/jolt/aspects/http-server.edn"
             :provider otel.instrumentation.http-server}]
  :aspect-report "target/http-server-aspects.edn"}

 :aliases {:test {:extra-paths ["test"]
                  :main-opts ["-m" "otel.instrumentation.http-server-test-runner"]}}

 :tasks {test "jolt -M:test"}}
