{:paths ["src"]

 :deps {io.github.casselc/jolt-http
        {:git/url "https://github.com/casselc/jolt-http.git"
         :git/sha "1ed2fd9253e20494170803aa110ba89402d92faf"}
        io.github.casselc/otel
        {:git/url "https://github.com/casselc/otel.git"
         :git/sha "a9badb98a86d4e0aa207aa0609da03dc8e4c087f"}}

 :jolt/build
 {:aspects [{:resource "META-INF/jolt/aspects/http-server.edn"
             :provider otel.instrumentation.http-server}]
  :aspect-report "target/http-server-aspects.edn"}

 :aliases {:test {:extra-paths ["test"]
                  :main-opts ["-m" "otel.instrumentation.http-server-test-runner"]}}

 :tasks {test "jolt -M:test"}}
